##### Dictionary

In [1]:
d = {'name':'nitish','name':'rahul'}
d

{'name': 'rahul'}

In [2]:
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [6]:
# Access Items
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
# s['name']
# s['subjects']['english']
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [10]:
# Adding key - value pair to dict
s['city'] = 'Lucknow'
s
s['weight'] = 72 
s 
s['subjects']['hindi'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'hindi': 75},
 'city': 'Lucknow',
 'weight': 72}

##### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
# pop
# d.pop(3)
# d 
# popitem
# d.popitem()
# d
# del
# del d['name']
# print(d)
# d.clear()
# d
# del s['subjects']['maths']

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'hindi': 75},
 'city': 'Lucknow',
 'weight': 72}

In [22]:
s['subjects']['dsa'] = 80 
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'hindi': 75},
 'city': 'Lucknow',
 'weight': 72}

##### Dictionary Operations
- Membership
- Iteration

In [28]:
d = {'name':'nitish','gender':'male','age':33}
# 'name' in d 
# 'lname' in d 

for i in d:
    # print(i , d[i])
    print(f"{i} : {d[i]}")

name : nitish
gender : male
age : 33

##### Dictionary Functions

In [32]:
d = {'name':'nitish','gender':'male','age':33}
len(d)
sorted(d)
sorted(d , reverse=True)

['name', 'gender', 'age']

In [37]:
# items/keys/values
print(d)
print(d.items())
print(d.values())
print(d.keys())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_values(['nitish', 'male', 33])
dict_keys(['name', 'gender', 'age'])

In [39]:
# update 
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

print(d1)
print(d2)
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 5}
{4: 7, 6: 8}
{1: 2, 3: 4, 4: 7, 6: 8}

In [41]:
x = ('key1', 'key2', 'key3')
y = 0

d = dict.fromkeys(x, y)

print(d)

{'key1': 0, 'key2': 0, 'key3': 0}

In [45]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)
car

Mustang

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)
car

white

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [46]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

##### Dictionary Comprehension

In [47]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [48]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [49]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [50]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [51]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [52]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [53]:
# Write a Python script to merge two Python dictionaries?

In [57]:
d1 = {10 : 100 , 20: 200 , 30: 300}
d2 = {40 : 400 , 50: 500 , 60: 600}
# d1.update(d2)
# d1

for i in d2:
    d1[i] = d2[i]
d1

{10: 100, 20: 200, 30: 300, 40: 400, 50: 500, 60: 600}

In [60]:
# Write a Python program to sum all the values in a dictionary?
d = {10 : 100 , 20: 200 , 30: 300}
sum = 0
for i in d: 
    sum += d[i]
print(f"Sum is: {sum}")

Sum is: 600

In [65]:
# Count the frequency of each element
a = [1 , 1 , 1 , 2 , 2 , 2 , 3 , 3 , 3 , 4 , 4 , 4 , 5 , 5 , 6 , 7 , 8]
for i in a:
    if i == 5:
        count += 1

print(count)

4

In [67]:
# d = {1 : 3 , 2 : 3 , 3: 3 , 4 : 3, 5: 2, 6:1 , 7:1 , 8:1} i want output like that
d = {}
for i in a:
    if i in d.keys():
        d[i] += 1
    else:
        d[i] = 1
print(d)

{1: 3, 2: 3, 3: 3, 4: 3, 5: 2, 6: 1, 7: 1, 8: 1}

In [69]:
# Write a Python program to combine two dictionary by adding values for common keys.
d1 = {10 : 100 , 20: 200 , 40: 300}
d2 = {40 : 400 , 50: 500 , 60: 600}

for i in d2:
    if i in d1.keys():
        d1[i] += d2[i]
    else:
        d1[i] = d2[i]
print(d1)

{10: 100, 20: 200, 40: 700, 50: 500, 60: 600}