##### Functions in Python

In [3]:
# *args 
def multiply(*args):
    product = 1 

    for i in args:
        product = product * i
    print(args) 
    return product

In [4]:
multiply(1 , 2 , 3 , 4)

(1, 2, 3, 4)

24

In [8]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [9]:
# **kwargs
def display(**kwargs):
    for (key , value) in kwargs.items():
        print(f"{key} -> {value}")

In [12]:
display(India='Delhi' , Srilanka='Colombo' , Nepal='Kathmandu', Pakistan='Islamabad')

India -> Delhi
Srilanka -> Colombo
Nepal -> Kathmandu
Pakistan -> Islamabad

In [11]:
def print_data(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_data(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [13]:
def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, "=", val)

fun(s1='Python', s2='is', s3='Awesome')

s1 = Python
s2 = is
s3 = Awesome

In [23]:
def function_with_return(x):
    result = x * 2
    return result

def function_with_print(x):
    result = x * 2
    print(result)

# Using them:
# value1 = function_with_return(5)  # value1 = 10
value2 = function_with_print(5)   # prints "10", but value2 = None

10

In [27]:
def h(y):
    global x
    x += 1
x = 5 
h(x)
print(x)

6

In [ ]:
def fun(x):
    x = x + 1 
    print(f"in fun(x) x = {x}")
    return x 

x = 3 
z = fun(x)
print(f"in main program scope z = {z}")
print(f"in main program scope x = {x}")

in fun(x) x = 4
in main program scope z = 4
in main program scope x = 3

In [31]:
def outer_function():
    print("This is outer function")
    
    def inner_function():
        print("This is inner function")
    
    inner_function()  # Call the inner function

outer_function()
# inner_function()


# Output:
# This is outer function
# This is inner function

This is outer function
This is inner function

In [34]:
def create_account(initial_balance):
    balance = initial_balance
    
    def deposit(amount):
        nonlocal balance
        balance += amount
        return balance
    
    def withdraw(amount):
        nonlocal balance
        if amount <= balance:
            balance -= amount
            return balance
        else:
            return "Insufficient funds"
    
    def get_balance():
        return balance
    
    return deposit, withdraw, get_balance

# Use it
deposit, withdraw, check = create_account(1000)

print(check())       # 1000
print(deposit(500))  # 1500
print(withdraw(1800)) # 1300
print(check())       # 1300

1000
1500
Insufficient funds
1500

In [35]:
def calculator():
    
    def add(a, b):
        return a + b
    
    def subtract(a, b):
        return a - b
    
    def multiply(a, b):
        return a * b
    
    return add, subtract, multiply  # Return all three

add_func, sub_func, mul_func = calculator()

print(add_func(10, 5))  # 15
print(sub_func(10, 5))  # 5
print(mul_func(10, 5))  # 50

15
5
50

In [36]:
def greet_maker(greeting):
    
    def greet(name):
        return f"{greeting}, {name}!"
    
    return greet

# Create different greeters
say_hello = greet_maker("Hello")
say_namaste = greet_maker("Namaste")

print(say_hello("Raj"))      # Hello, Raj!
print(say_namaste("Priya"))  # Namaste, Priya!

Hello, Raj!
Namaste, Priya!

##### Lambda function

In [37]:
add = lambda x, y: x + y

print(add(5, 3))  # Output: 8

8

In [38]:
# No arguments
greet = lambda: "Hello!"
print(greet())  # Output: Hello!

# One argument
square = lambda x: x ** 2
print(square(5))  # Output: 25

# Two arguments
multiply = lambda x, y: x * y
print(multiply(4, 3))  # Output: 12

# Three arguments
volume = lambda l, w, h: l * w * h
print(volume(2, 3, 4))  # Output: 24

Hello!
25
12
24

In [41]:
a = lambda x: 'even' if x % 2 == 0 else 'odd'
a(5)

'odd'

##### Higher Order Functions in Python

In [42]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x * x, numbers)
print(list(squared))
# Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [43]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))
# Output: [2, 4, 6]

[2, 4, 6]

In [44]:
words = ["python", "java", "javascript"]
sorted_by_length = sorted(words, key=len)
print(sorted_by_length)
# Output: ['java', 'python', 'javascript']

['java', 'python', 'javascript']

In [45]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)
# Output: 15

15

In [46]:
# Without lambda - need to define function
def double(x):
    return x * 2

numbers = [1, 2, 3]
result = list(map(double, numbers))

# With lambda - inline and clean
result = list(map(lambda x: x * 2, [1, 2, 3]))
print(result)  # [2, 4, 6]

[2, 4, 6]

In [47]:
# Without lambda
def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(is_even, numbers))

# With lambda - much cleaner
evens = list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5, 6]))
print(evens)  # [2, 4, 6]

[2, 4, 6]

In [48]:
students = [
    ("Alice", 85),
    ("Bob", 92),
    ("Charlie", 78)
]

# Without lambda - verbose
def get_score(student):
    return student[1]

sorted_students = sorted(students, key=get_score)

# With lambda - one liner!
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)
# [('Charlie', 78), ('Alice', 85), ('Bob', 92)]

[('Charlie', 78), ('Alice', 85), ('Bob', 92)]

In [49]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Without lambda
def add(x, y):
    return x + y

total = reduce(add, numbers)

# With lambda - inline
total = reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])
print(total)  # 15

15

In [50]:
words = ["apple", "pie", "banana", "cat"]

# Without lambda
def word_length(word):
    return len(word)

longest = max(words, key=word_length)

# With lambda - cleaner
longest = max(words, key=lambda x: len(x))
print(longest)  # banana

banana

In [51]:
data = [
    {"name": "Laptop", "price": 1000, "stock": 5},
    {"name": "Mouse", "price": 20, "stock": 0},
    {"name": "Keyboard", "price": 50, "stock": 10},
    {"name": "Monitor", "price": 300, "stock": 3}
]

# Chain of HOF with lambda
result = list(
    map(
        lambda x: x["name"],  # Extract names
        filter(
            lambda x: x["stock"] > 0,  # Only in-stock items
            sorted(data, key=lambda x: x["price"])  # Sort by price
        )
    )
)

print(result)  # ['Mouse', 'Keyboard', 'Monitor', 'Laptop']

['Keyboard', 'Monitor', 'Laptop']

In [54]:
# You can create your own HOF that accept lambda:
def apply_operation(numbers, operation):
    """Higher-order function that applies operation to each number"""
    return [operation(num) for num in numbers]

numbers = [1, 2, 3, 4, 5]

# Use different lambda for different operations
squares = apply_operation(numbers, lambda x: x ** 2)
cubes = apply_operation(numbers, lambda x: x ** 3)
doubled = apply_operation(numbers, lambda x: x * 2)

print(squares)   # [1, 4, 9, 16, 25]
print(cubes)     # [1, 8, 27, 64, 125]
print(doubled)   # [2, 4, 6, 8, 10]

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]
[2, 4, 6, 8, 10]

In [55]:
def make_multiplier(n):
    """Returns a lambda that multiplies by n"""
    return lambda x: x * n

# Create specialized functions
times_2 = make_multiplier(2)
times_5 = make_multiplier(5)
times_10 = make_multiplier(10)

print(times_2(7))   # 14
print(times_5(7))   # 35
print(times_10(7))  # 70

14
35
70

In [56]:
from functools import reduce

In [58]:
# find min 
reduce(lambda x , y : x if x < y else y , [12 , 15 , 18 , 25 , 55 , 2])

2

In [59]:
# find max 
reduce(lambda x , y : x if x > y else y , [12 , 15 , 18 , 25 , 55 , 2])

55

In [60]:
# fetch name starting with 'a'
names = ['aman' , 'rahul', 'atul', 'anshu' , 'vivek']
list(filter(lambda x: x.startswith('a') , names))

['aman', 'atul', 'anshu']