#### Array vs List

In [4]:
L = [1 , 2 , 3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

1945343342976
140708122764408
140708122764440
140708122764472
140708122764408
140708122764440
140708122764472

In [6]:
L = [1 , 2 , 3]
L1 = [3 , 2 , 1]
L == L1

False

##### Creating a List

In [12]:
# empty
print([])
# 1D
print([1 , 2 , 3 , 4 , 5])
# 2D
print([1 , 2 , 3 , [4 , 5]])
# 3D
print([[[1 , 2], [3 , 4]] , [[5 , 6],[7,8]]])
# Hetrogeneous
print([1 , 2.5 , True , [6 , 7], 5 + 6j])
# using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, 2.5, True, [6, 7], (5+6j)]
['h', 'e', 'l', 'l', 'o']

##### Accessing Items from a List

In [35]:
# Indexing
# L = [1 , 2 , 3 , [4 , 5]]
# print(L[0])
# print(L[-3])
# print(L[3][0])
# print(L[-1][-1])

# L1 = [[[1 , 2], [3 , 4]] , [[5 , 6],[7,8]]]
# print(L1[1][0][1])
# print(L1[0][0][1])

# Slicing
L = [1 , 2 , 3 , 4 , 5 , 6]
print(L[0 : 3])
print(L[-3:])
print(L[::2])
print(L[-5:-2:2])
print(L[::-1])

[1, 2, 3]
[4, 5, 6]
[1, 3, 5]
[2, 4]
[6, 5, 4, 3, 2, 1]

##### Adding Items to a List

In [38]:
# append
L = [1 , 2 , 3 , 4 , 5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [42]:
# extend
L = [1 , 2 , 3 , 4 , 5]
# L.extend([6 , 7 , 8])
L.extend('Delhi')
print(L)

[1, 2, 3, 4, 5, 'D', 'e', 'l', 'h', 'i']

In [41]:
# insert
L = [1 , 2 , 3 , 4 , 5]
L.insert(2, True)
print(L)

[1, 2, True, 3, 4, 5]

##### Editing Items in a List

In [44]:
L = [1 , 2 , 3 , 4 , 5]
L[-1] = 500
L[1:4] = [200 , 300 , 400]
print(L)

[1, 200, 300, 400, 500]

##### Deleting Items from a List

In [49]:
# del
L = [1 , 2 , 3 , 4 , 5]
print(L)
# del L 
del L[-1]
del L[1:3]
print(L)

[1, 2, 3, 4, 5]
[1, 4]

In [50]:
# remove
L = [1 , 2 , 3 , 4 , 5]
print(L)
L.remove(4)
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [53]:
# pop
L = [1 , 2 , 3 , 4 , 5] 
print(L)
L.pop(0)
print(L)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [55]:
# clear
L = [1 , 2 , 3 , 4 , 5] 
print(L)
L.clear()
print(L)

[1, 2, 3, 4, 5]
[]

##### Operations on Lists
- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ , *)
L1 = [1 , 2 , 3 , 4]
L2 = [5 , 6 , 7 , 8]

# concatenation / Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
print(L1 * 3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [63]:
# Membership
L1 = [1 , 2 , 3 , 4 , 5]
L2 = [1 , 2 , 3 , 4 , [5 , 6]]
print(5 in L1)
print(6 not in L1)
print([5,6] in L2)

True
True
True

In [65]:
# Loops 
L1 = [1 , 2 , 3 , 4 , 5]
L2 = [1 , 2 , 3 , 4 , [5 , 6]]

for i in L2:
    print(i)

1
2
3
4
[5, 6]

##### List Functions

In [72]:
# len / min / max / sorted / sum
L1 = [2 , 1 , 5 , 7 , 0]
print(len(L1))
print(min(L1))
print(max(L1))
print(sum(L1))
print(sorted(L1))
print(sorted(L1, reverse=True))

5
0
7
15
[0, 1, 2, 5, 7]
[7, 5, 2, 1, 0]

In [74]:
# count 
points = [1, 4, 2, 9, 7, 8, 9, 3, 9]
print(points.count(9))

3

In [76]:
# index 
points = [1, 4, 2, 9, 7, 8, 9, 3, 9]
print(points.index(9))

3

In [79]:
# reverse 
L = [1 , 2 , 3 , 4 , 5]
print(L)
L.reverse()
print(L)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [81]:
# sort 
points = [1, 4, 2, 9, 7, 8 , 12 , 5]
points.sort(reverse=True)
print(points)

[12, 9, 8, 7, 5, 4, 2, 1]

In [84]:
# copy
L = [1 , 2 , 3 , 4 , 5]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[1, 2, 3, 4, 5]
1969025491200
[1, 2, 3, 4, 5]
1969025575488

##### List Comprehension

In [85]:
newList = [i ** 3 for i in [1 , 2 , 3 , 4] if i > 2]
print(newList)

[27, 64]

In [86]:
# Add 1 to 10 numbers to a list 
L = []
for i in range(1 , 11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
# with list comprehension
L = [i for i in range(1 , 11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
# scalar multiplication on a vector
L = [i * -3 for i in [2 , 3 , 4]]
print(L)

[-6, -9, -12]

In [90]:
# Add squares 
squares = [i ** 2 for i in [1 , 2 , 3 , 4]]
print(squares)

[1, 4, 9, 16]

In [91]:
# print all numbers divisble by 5 in the range of 1 to 50 
numbers = [num for num in range(1 , 51) if num % 5 == 0]
print(numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [94]:
# find languages which starts with letter p
languages = ['java','python','php','c','javascript'] 
languages_p = [lan for lan in languages if lan.startswith('p')]
languages_p

['python', 'php']

In [96]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exist in basket and also starts with 'a' 
newL = [fruits for fruits in my_fruits if fruits in basket if fruits.startswith('a')]
newL

['apple']

In [97]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [98]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

cartesian_prod = [i * j for i in L1 for j in L2]
cartesian_prod

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

##### 2 ways to traverse a list
- itemwise
- indexwise

In [99]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [100]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

##### Zip function

In [105]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1 , L2))
[i + j for i , j in zip(L1 , L2)]

[0, 0, 0, 0]

In [104]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = list(zip(a, b))
x

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

##### List Programs

In [106]:
# Create 2 lists from a given list where 
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers 

L = [1,2,3,4,5,6]

odd_num = [i for i in L if i % 2 != 0]
print(odd_num)
even_num = [i for i in L if i % 2 == 0]
print(even_num)

[1, 3, 5]
[2, 4, 6]

In [ ]:
# How to take list as input from user
li = input("Enter elements separated by space: ").split()
print("List:", li)

In [110]:
a = []
n = int(input("Enter the number of elements: "))
for i in range(n):
    element = input(f"Enter element {i+1}: ")
    a.append(element)

print("List:", a)

List: ['6', '8', '9', '10', '']

In [111]:
n = int(input("Enter the number of elements: "))
a = [input(f"Enter element {i+1}: ") for i in range(n)]
print("List:", a)

List: ['6', '7', '8', '9', '']

In [115]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [116]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]

# using slicing
L1[len(L1):] = L2 
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [118]:
# using loop
L1 = [1,2,3,4]
L2 = [5,6,7,8]
for item in L2:
    L1.append(item)

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [120]:
# Write a program to replace an item with a different item if found in the list 
L = [1,2,3,4,5,3]
# replace 3 with 300
item_to_find = 3
new_item = 300

new_L = [new_item if x == item_to_find else x for x in L]

print(f"Original list L: {L}")
print(f"New list new_L: {new_L}")

Original list L: [1, 2, 3, 4, 5, 3]
New list new_L: [1, 2, 300, 4, 5, 300]

In [121]:
# The original list
L = [1, 2, 3, 4, 5, 3]
print(f"Original list: {L}")

# The item to find and replace
item_to_find = 3

# The new item to use as a replacement
new_item = 300

# Iterate through the list by index and replace the item if found
for i in range(len(L)):
    if L[i] == item_to_find:
        L[i] = new_item

# The modified list
print(f"Modified list: {L}")

Original list: [1, 2, 3, 4, 5, 3]
Modified list: [1, 2, 300, 4, 5, 300]

In [122]:
# Write a program that can convert a 2D list to 1D list
list_2d = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

list_1d = [item for sublist in list_2d for item in sublist]

print(list_1d)
# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list_2d = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
list_1d = []

for sublist in list_2d:
    for item in sublist:
        list_1d.append(item)

print(list_1d)
# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]
print(f"Original list: {L}")
unique_L = []

for item in L:
    if item not in unique_L:
        unique_L.append(item)

print(f"Unique list: {unique_L}")

Original list: [1, 2, 1, 2, 3, 4, 5, 3, 4]
Unique list: [1, 2, 3, 4, 5]

In [1]:
# Print positive and negative elements of an List?
L = [-45 , 67 , 12 , -68 , -69 , 34, -54]

# positive elements are 
positive_el = [i for i in L if i >= 0]
print(positive_el)

# negative elements are 
negative_el = [i for i in L if i < 0]
print(negative_el)

[67, 12, 34]
[-45, -68, -69, -54]

In [4]:
# Mean of List elements?
l = [12 , 435 , 67 , 89 , 23 , 25, 69]

sum = 0 
for i in l:
    sum += i 
print(sum / len(l))

102.85714285714286

In [8]:
# Find the greatest element and print its index too?
l = [12 , 435 , 67 , 89 , 23 , 25, 690] 
largest =  l[0]
index = 0
for i in range(len(l)):
    if l[i] > largest:
        largest = l[i]
        index = i

print(f"Largest Element: {largest}")
print(f"Largest Element Index Position: {index}")

Largest Element: 690
Largest Element Index Position: 6

In [ ]:
# Find the second greatest element?
l = [12 ,  67 , 89 , 23 , 25, 690, 190] 
largest = l[0]
sec_largest = l[0] 

for i in l:
    if i > largest: 
        sec_largest = largest 
        largest = i 
    elif i > sec_largest:
        sec_largest = i

print(f"Largest: {largest}")
print(f"Second Largest: {sec_largest}")

Largest: 690
Second Largest: 190

In [15]:
# Check if List is sorted or not.
l = [12 ,  13 , 14 , 17 , 16] 

for i in range(len(l)-1):
    if l[i] < l[i + 1]:
        continue
    else:
        print("Your list is not sorted")
        break
else:
    print("your list is sorted")

Your list is not sorted