##### Creating Sets

In [9]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
# s2 = {1,2,3,{4,5}}
# print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
# s6 = {1,2,[3,4]}
# print(s6)
s6 = {1 , 'hello', 4.5 , True}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, 'hello', 4.5, (1, 2, 3)}
{1, 2, 3}
{1, 2, 3}
{1, 'hello', 4.5}

In [10]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

##### Accessing Items

In [13]:
# s1 = {1,2,3,4}
# s1[0:3]

##### Editing Items

In [15]:
s1 = {1,2,3,4}
# s1[0] = 100

##### Adding Items

In [17]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# # update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

##### Deleting Items

In [30]:
# del
s = {1,2,3,4,5}
print(s)
# del s
# print(s)
# s.discard(6)
# print(s)
# s.remove(4)
# print(s)
# s.pop()
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

##### Set Operation

In [55]:
# union() or |
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1 | s2
# s1.union(s2)

# intersection() or &
# s1 & s2 
# s1.intersection(s2)
# s1.intersection_update(s2)
# print(s1)
# s1 - s2 
# s1.difference(s2)
# s1 ^ s2 
# s1.symmetric_difference(s2)
1 in s1 
1 not in s1 
for i in s1:
  print(i)

1
2
3
4
5

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

##### difference between intersection and intersection_update in python

In [45]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

# cities3 = cities.intersection(cities2)
cities3 = cities & cities2

print(f"Original set 'cities': {cities}")
print(f"New set 'cities3' (intersection): {cities3}")

Original set 'cities': {'Tokyo', 'Delhi', 'Berlin', 'Madrid'}
New set 'cities3' (intersection): {'Tokyo', 'Madrid'}

In [47]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

# cities.intersection_update(cities2)
cities &= cities2

print(f"Updated set 'cities': {cities}")
print(f"Set 'cities2' (unchanged): {cities2}")

Updated set 'cities': {'Tokyo', 'Madrid'}
Set 'cities2' (unchanged): {'Tokyo', 'Kabul', 'Seoul', 'Madrid'}

##### Set Functions

In [61]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s)
sorted(s, reverse=True)

[7, 5, 4, 3, 2, 1]

In [67]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1.difference(s2)

# s1.difference_update(s2)
s1.symmetric_difference_update(s2)
# print(s1)
# print(s2)

In [72]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.issuperset(s2)

False

In [73]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [74]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [75]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [79]:
# set comprehension
{i for i in range(1 , 11)}
{i for i in range(1 , 11) if i % 2 == 0}
{i ** 2 for i in range(1 , 11) if i % 2 == 0}
{i ** 2 for i in range(1 , 11) if i > 5}

{36, 49, 64, 81, 100}