Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

##### Creating Tuples

In [3]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

##### Accessing Items
- Indexing
- Slicing

In [6]:
t = (1,2,3,4)
print(t)
print(t[0])
print(t[-1])
print(t[1:3])
print(t[::-1])

(1, 2, 3, 4)
1
4
(2, 3)
(4, 3, 2, 1)

In [8]:
t = (1,2,3,4,5)
t[-1:-4:-1]

(5, 4, 3)

##### Operations on Tuples

In [14]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)
print(t1*3)

# membership
print(1 in t1)
print(2 not in t1)

# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
False
1
2
3
4

##### Tuple Functions

In [22]:
t = (1,2,3,4, 5 , 4 , 5 , 9 , 5)
len(t)
sum(t)
min(t)
max(t)
sorted(t)
sorted(t, reverse=True)
t.count(5)
t.index(3)

2

##### Difference between Lists and Tuples

In [23]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 27.850950717926025
Tuple time 36.00328493118286

In [24]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8048

In [25]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [27]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [28]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))